{%extends 'base.html'%}
{%load static%}     
{%block content%}


<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">Login </div>
                <div class="card-body">
                    <form action="" method="post">
                        {%csrf_token%}
                        
                        {{form.as_p}}  <!--here login form fields are used as paragraph tags-->
                        <input type="submit" class="btn btn-success btn-sm">
                        
                        </form>
              
            </div>
        </div>
    </div>
</div>
 
 {%endblock%} 